<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add a new movie</h1>
	
		<div>
			<form action="#" th:object="${movie}" th:action="@{savemovie}" method="post">
				<div>
					<label>Name</label>
					<input type="text" th:field="*{movieName}" />
					<div th:if="${#fields.hasErrors('movieName')}" th:each="err : ${#fields.errors('movieName')}" th:text="${err}"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<lable>Release year</lable>
					<input type="text" th:field="*{releaseYear}" />
					<div th:if="${#fields.hasErrors('releaseYear')}" th:each="err : ${#fields.errors('releaseYear')}" th:text="${err}"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<lable>Director's' first name</lable>
					<input type="text" th:field="*{directorFname}" />
					<div th:if="${#fields.hasErrors('directorFname')}" th:each="err : ${#fields.errors('directorFname')}" th:text="${err}"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<lable>Director's' last name</lable>
					<input type="text" th:field="*{directorLname}" />
					<div th:if="${#fields.hasErrors('directorLname')}" th:each="err : ${#fields.errors('directorLname')}" th:text="${err}"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<lable>Description</lable>
					<input type="text" th:field="*{movieDescription}" />
					<div th:if="${#fields.hasErrors('movieDescription')}" th:each="err : ${#fields.errors('movieDescription')}" th:text="${err}"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<label>Genre</label>
				<div>
					<select id="genres" th:field="*{genre}">
						<option th:each="genre: ${genre}" th:value="${genre.id}" th:text="${genre.genre}"></option>
					</select>
					<input type="submit" value="Save"/>
				</div>
			</form>
		</div>
      	
</body>
</html>