<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign out">
		</form>
	</div>
	
	<h1>Edit movie</h1>
	
		<div>
			<form action="#" th:object="${movie}" th:action="@{../saveEditedmovie}" method="post">
				<input type="hidden" id="id" th:field="*{id}" />
				<div>
					<label>Name</label>
					<input type="text" th:field="*{movieName}" />
					<div th:if="${#fields.hasErrors('movieName')}" th:each="err : ${#fields.errors('movieName')}" th:text="${err}" style="color: red;"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<label>Release year</label>
					<input type="text" th:field="*{releaseYear}" />
					<div th:if="${#fields.hasErrors('releaseYear')}" th:each="err : ${#fields.errors('releaseYear')}" th:text="${err}" style="color: red;"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<label>Director's first name</label>
					<input type="text" th:field="*{directorFname}" />
					<div th:if="${#fields.hasErrors('directorFname')}" th:each="err : ${#fields.errors('directorFname')}" th:text="${err}" style="color: red;"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<label>Director's last name</lable>
					<input type="text" th:field="*{directorLname}" />
					<div th:if="${#fields.hasErrors('directorLname')}" th:each="err : ${#fields.errors('directorLname')}" th:text="${err}" style="color: red;"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<div>
					<label>Description</lable>
					<textarea th:field="*{movieDescription}"></textarea>
					<div th:if="${#fields.hasErrors('movieDescription')}" th:each="err : ${#fields.errors('movieDescription')}" th:text="${err}" style="color: red;"></div>
					<div style="clear: both; display: block; height: 10px;"></div>
				</div>
				<label>Genre</label>
				<div>
					<select id="genres" th:field="*{genre}">
						<option th:each="g: ${genre}" th:value="${g.id}" th:text="${g.genre}"></option>
					</select>
					<div style="clear: both; display: block; height: 10px;"></div>
					<input type="submit" value="Save"/>
				</div>
			</form>
		</div>
      	
</body>
</html>