<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Movielist</h1>
		
	<table>
		<tr>
			<th>Name</th>
			<th>Publication year</th>
			<th>Director</th>
			<th>Description</th>
			<th>Genre</th>
		</tr>
		<tr th:each = "movies : ${movies}">
			<td th:text = "${movies.movieName}"></td>
			<td th:text = "${movies.publicationYear}"></td>
			<td th:text = "${movies.directorShorthandname}"></td>
			<td th:text = "${movies.movieDescription}"></td>
			<td th:text = "${movies.genre.genre}"></td>

		</tr>
	</table>
      	
</body>
</html>